version: '3.8'
services:

  api-gateway-laravel8-nginx:
    container_name: api-gateway-laravel8-nginx
    build: nginx/
    # restart: unless-stopped
    tty: true
    ports:
      - "8000:80"
      - "4043:443"
    working_dir: /var/www/api-gateway-laravel
    volumes:
      - ./systems/api-gateway-laravel/:/var/www/api-gateway-laravel
      - ./nginx/api-gateway-laravel/conf.d/:/etc/nginx/conf.d/
    networks:
      - skelark-network
    depends_on:
      - api-gateway-laravel8-php7

  ms-files-lumen8-nginx:
    container_name: ms-files-lumen8-nginx
    build: nginx/
    # restart: unless-stopped
    tty: true
    ports:
      - "8001:80"
      - "4044:443"
    working_dir: /var/www/ms-files-lumen
    volumes:
      - ./systems/ms-files-lumen/:/var/www/ms-files-lumen
      - ./nginx/ms-files-lumen/conf.d/:/etc/nginx/conf.d/
    networks:
      - skelark-network
    depends_on:
      - ms-files-lumen8-php7

  ms-calculator-lumen8-nginx:
    container_name: ms-calculator-lumen8-nginx
    build: nginx/
    # restart: unless-stopped
    tty: true
    ports:
      - "8002:80"
      - "4045:443"
    working_dir: /var/www/ms-calculator-lumen
    volumes:
      - ./systems/ms-calculator-lumen/:/var/www/ms-calculator-lumen
      - ./nginx/ms-calculator-lumen/conf.d/:/etc/nginx/conf.d/
    networks:
      - skelark-network
    depends_on:
      - ms-calculator-lumen8-php8

  api-gateway-laravel8-php7:
    container_name: api-gateway-laravel8-php7
    build: php/
    # restart: unless-stopped
    tty: true
    ports:
      - "9000:9000"
    working_dir: /var/www/api-gateway-laravel
    volumes:
      - ./systems/api-gateway-laravel/:/var/www/api-gateway-laravel
    #   - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - skelark-network
    depends_on: 
      - api-gateway-laravel8-mysql57

  ms-files-lumen8-php7:
    container_name: ms-files-lumen8-php7
    build: php/
    # restart: unless-stopped
    tty: true
    ports:
      - "9001:9000"
    working_dir: /var/www/ms-files-lumen
    volumes:
      - ./systems/ms-files-lumen/:/var/www/ms-files-lumen
    #   - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - skelark-network
    depends_on: 
      - ms-files-lumen8-mysql57

  ms-calculator-lumen8-php8:
    container_name: ms-calculator-lumen8-php8
    build: php/v8/
    # restart: unless-stopped
    tty: true
    ports:
      - "9002:9000"
    working_dir: /var/www/ms-calculator-lumen
    volumes:
      - ./systems/ms-calculator-lumen/:/var/www/ms-calculator-lumen
    #   - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - skelark-network
    depends_on: 
      - ms-calculator-lumen8-mysql57

  api-gateway-laravel8-mysql57:
    container_name: api-gateway-laravel8-mysql57
    build: mysql/
    # restart: unless-stopped
    tty: true
    user: "1000:50"
    ports:
      - "3306:3306"
    working_dir: /var/lib/mysql
    environment:
      MYSQL_DATABASE: skelark
      MYSQL_ROOT_PASSWORD: skelark
      # MYSQL_ROOT_HOST: '%'
    volumes:
      - ./mysql/api-gateway-laravel-db-data:/var/lib/mysql/
      # - ./mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - skelark-network

  ms-files-lumen8-mysql57:
    container_name: ms-files-lumen8-mysql57
    build: mysql/
    # restart: unless-stopped
    tty: true
    user: "1000:50"
    ports:
      - "3307:3306"
    working_dir: /var/lib/mysql
    environment:
      MYSQL_DATABASE: skelark
      MYSQL_ROOT_PASSWORD: skelark
      # MYSQL_ROOT_HOST: '%'
    volumes:
      - ./mysql/ms-files-lumen-db-data:/var/lib/mysql/
      # - ./mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - skelark-network

  ms-calculator-lumen8-mysql57:
    container_name: ms-calculator-lumen8-mysql57
    build: mysql/
    # restart: unless-stopped
    tty: true
    user: "1000:50"
    ports:
      - "3308:3306"
    working_dir: /var/lib/mysql
    environment:
      MYSQL_DATABASE: skelark
      MYSQL_ROOT_PASSWORD: skelark
      # MYSQL_ROOT_HOST: '%'
    volumes:
      - ./mysql/ms-calculator-lumen-db-data:/var/lib/mysql/
      # - ./mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - skelark-network

  front-calculator-nextjs10-node15:
    container_name: front-calculator-nextjs10-node15
    build: node/
    tty: true
    ports:
      - "3000:3000"
    working_dir: /var/www/front-calculator-nextjs10
    volumes:
      - ./systems/front-calculator-nextjs10/:/var/www/front-calculator-nextjs10
    networks:
      - skelark-network

networks:
  skelark-network:
    driver: bridge

volumes:
  api-gateway-laravel-db-data:
  ms-files-lumen-db-data:
  ms-calculator-lumen-db-data: